<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.keylimetie.dottys">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.keylimetie.dottys.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="false" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="false" />

    <permission
        android:name="com.keylimetie.dottys.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.keylimetie.dottys.permission.ACCESS_FINE_LOCATION"
        android:protectionLevel="signature" />
    <permission
        android:name="com.keylimetie.dottys.permission.ACCESS_COARSE_LOCATION"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".game_play.DottysBubbleGameActivity"></activity>
        <activity android:name=".game_play.DottysScratchAndWinActivity" />
        <activity android:name=".game_play.DottysMainGamePlayActivity" />
        <activity android:name=".TermsAndPrivacy.TermsAndPrivacyActivity" />
        <activity android:name=".redeem.DottysRewardRedeemedActivity" />
        <activity android:name=".redeem.DottysCashRedeemRewardsActivity" />
        <activity
            android:name=".register.DottysProfilePictureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".register.DottysRegisterActivity" />
        <activity android:name=".forgot_password.DottysEnterPasswordActivity" />
        <activity android:name=".forgot_password.DottysEnterVerificationCodeActivity" />
        <activity android:name=".forgot_password.DottysVerificationTypeActivity" />
        <activity android:name=".forgot_password.DottysForgotPasswordMainActivity" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyDbgunZHBK75Lb-jJmGKV9M6HmPbCn4U1E" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBUH7AKtM5vEsx4IpST9tb6-l2LPu9SvtE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".redeem.DottysRedeemRewardsActivity" />
        <activity
            android:name=".DottysMainNavigationActivity"
            android:label="@string/title_activity_dottys_main_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.DottysLoginActivity" />
        <activity
            android:name=".splash.DottysSplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>